*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid brown; */
    font-family: sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    color:#ffff;
    
}

.box-1{
    width: 20%;
    height: 100vh;
    background-color: #194729;
}

.box-1 h5{
    text-align: center;
    padding-top: 20px;
    font-size: 16px;
}

.box-1 .water-box{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    width: 40%;
    margin: 100px auto;
}
.water-box i{
    color: #e6b63a;
}

.icon span img{
    width: 50px;
    height: 50px;
    
}

.icon span{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon span div{
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-top: 80px;
}
 .icon p{
    text-align: center;
    padding-top: 10px;
    font-size: 14px;
}

.box-2{
    width: 40%;
    height: 100vh;
    background-color: #194729;
}


.box-2 form{
    width: 38%;
    border:none;
    border-bottom: 1px solid white;
    display: flex;
    padding-top: 20px;
    padding-bottom: 5px;
    margin-left: 50px;
    
    
}

.box-2 form i{
    font-size: 10px;
}

.box-2 form input{
    background-color: transparent;
    font-size: 10px;
    border: none;
}
.clr{
    padding-top: 80px;
    font-size: 60px;
    color:#e6b63a
}
.box-2 h1{
    font-size: 50px;
    position: relative;
    left:50px;
}

.box-2 p{
     padding: 15px 60px;
    font-size: 14px;
}

.img{
    
    width: 180px;
    height: 150px;
    background-image: url(images/featured_image-20.jpg);
    background-position: center;
    background-size: cover;
    margin: 30px 50px;
    border-radius: 20px;
    border: none;
    position: relative;

}
.img h5{
padding-top: 120px;
padding-left: 10px;
font-size: 10px;
color: #194729;
}

.box-3{
    width: 40%;
    height: 100vh;
    background-color: rgb(43, 86, 226);
    background-image: url(images/green-wood-texture-background-design-close-up-view-rustic-abstract-wooden-130901382.jpg);
    background-position: center;
    background-size: cover;

}
.box-3 .box-img{
    width: 350px;
    height: 250px;
    background-image: url(images/camping-unsplash650.webp);
    background-position: center;
    background-size: cover;
    border-radius: 20px;

}

.box-img ul{
    text-align: right;
    padding-top: 20px;
    padding-right: 10px;
    font-size: 12px;
}
.box-img ul li{
    list-style: none;
    padding-top: 5px;
}

.box-3 .best_place{
    width: 60px;
    height: 50px;
    background-color: #fff;
   border: 1px solid black;
    position: relative;
    left: 280px;
    bottom: 30px;
    text-align: center;
}
.box-3 .best_place h5{
    font-size: 12px;
    color: #194729;
    padding-top: 0px;
}

.box-3 .best_place i{
    color: #194729;
    margin-top: 30px;
   
}
.box-3 h3{
    font-size: 28px;
    text-align: center;
    padding-top: 50px;

}
.box-3 p{
    font-size: 10px;
    padding: 15px 50px;
}

.box-3 button{
    width: 80px;
    height: 30px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #e6b63a;
    color: black;
    font-size: 14px;
    margin: 5px 140px;

}
